﻿<#@ template debug="false" hostspecific="false" language="c#" #>
<#@ assembly name="System.Core" #>
<#@ assembly name="$(ProjectDir)\bin\Debug\BishBL.exe" #>
<#@ import namespace="System.Linq" #>
<#@ import namespace="System.Text" #>
<#@ import namespace="System.Collections.Generic" #>
<#@ import namespace="System.Reflection" #>
<#@ import namespace="BishBL" #>
<#@ output extension=".aspx" #>
<Columns>
<# 
	Type type = typeof(KilledEnemyType);
	foreach (PropertyInfo p in type.GetProperties())
   {
		#>	<asp:BoundField DataField="<#= p.Name #>" HeaderText="<#= p.Name #>" />
<#
   } 
   #>
</Columns>