﻿@import "bootstrap/functions";

$primary: #2671c7;
$secondary: change-color(complement($primary), $saturation: 100%);

$damaged: red;
$blocked: #80aaff;
$leveled-up: #0ebe3a;

$white: adjust-color($primary, $lightness: 50%);
$gray-100: scale-color($white, $lightness: -10%, $saturation: 10%);
$gray-200: scale-color($white, $lightness: -20%, $saturation: 20%);
$gray-300: scale-color($white, $lightness: -30%, $saturation: 30%);
$gray-400: scale-color($white, $lightness: -40%, $saturation: 40%);

$black: change-color($secondary, $lightness: 5%);
$gray-900: scale-color($black, $lightness: 10%, $saturation: +10%);
$gray-800: scale-color($black, $lightness: 20%, $saturation: +20%);
$gray-700: scale-color($black, $lightness: 30%, $saturation: +30%);
$gray-600: scale-color($black, $lightness: 40%, $saturation: +40%);
$gray-500: scale-color($black, $lightness: 50%, $saturation: +50%);

$dark: $secondary;
$light: $primary;

$navbar-dark-color: white;
