@import "variables";
@import 'bootstrap/bootstrap';
@import 'bootstrap-chosen/bootstrap-chosen.scss';

.page-title {
    @extend .display-4, .text-center, .mb-5;
}

#contentContainer {
    padding-top: 15px;
}

.form-group {
    align-items: center;
}

.navbar {
    flex-shrink: 0;
}

.centered-form {
    @extend .container, .align-self-center;
    max-width: 55em;

    &.sign-up > .form-group.row {
        // Label
        > label {
            @extend .col-form-label, .col-sm-3;
        }
        // TextBox
        > input {
            @extend .form-control, .col-sm-6;
        }
        // DropDownList
        > .chosen-container {
            @extend .col-sm-6;
            padding-left: 0;
            padding-right: 0;
        }
        // Validators
        > span {
            @extend .invalid-feedback, .col-sm-3;
        }
    }
}

.form-row {
    @extend .form-group, .row;
}

.form-group.row .invalid-feedback {
    margin-top: 0;
}

.static-invalid-feedback {
    @extend .invalid-feedback;
    display: initial;
}

table.list-group {
    border: none;
}

tr.list-group-item {
    display: flex;
}

.list-group-item td {
    display: inline-block;
    border: none;

    &:first-child {
        @extend .col-8;
    }

    &:last-child {
        @extend .col-4;
    }
}

table, td, th {
    border-bottom: none;
    border-left: none;
    border-right: none;
}

.table.vertical td:first-child {
    @extend th;
    font-weight: bold;
}

.game-column, .game-column pre, .game-legend {
    color: theme-color("dark");
}

@mixin status($name, $color) {
    .#{$name} {
        @keyframes #{$name} {
            from {
                color: $color;
            }
        }

        animation: $name 3s;
        @content;
    }
}

.game-column pre, .game-legend {
    .item {
        color: green;
    }

    .enemy {
        color: indianred;
    }

    .player {
        color: lightslategray;
    }

    @include status(damaged, $damaged);
    @include status(blocked, $blocked);
    @include status(leveled-up, $leveled-up);


    .highlight {
        color: theme-color("light");
    }
}

.chart {
    width: 100% !important;
    height: auto !important;
    max-height: 70vh;
}

.card-body.table-wrapper {
    padding: 0;
    overflow-y: scroll;
}

table.editable {
    input, select {
        @extend .form-control;
    }

    td > span {
        padding: $input-btn-padding-y $input-btn-padding-x;
        display: block;
    }
}

.invalid-feedback[style*="inline"] {
    display: block !important;
}
