﻿@import "variables";

@import "bootstrap/functions";
@import "bootstrap/variables";
@import "bootstrap/mixins";

@import "bootstrap/buttons";

// Taken from _grid_framework.scss
@mixin make-col-auto() {
    flex: 0 0 auto;
    width: auto;
    max-width: none;
}

@font-face {
    font-family: 'game-font';
    src: url('/fonts/game-font.ttf');
}

body {
    height: 100vh;
}

#masterForm, #contentContainer {
    height: 100%;
    display: flex;
    flex-direction: column;
}

#contentContainer {
    flex-grow: 1;
}

#contentContainer div {
    max-height: 100%;
}

@include media-breakpoint-down(md) {
    #contentContainer > .row > div {
        &:nth-child(1) {
            flex: 0 0 auto;
        }

        &:nth-child(2) {
            flex: 4 1 0;
        }

        &:nth-child(3) {
            flex: 1 1 0;
        }
    }

    .card td, .card-header {
        padding: 0.2rem !important;
    }

    .table {
        margin-bottom: 0px;
    }
}

@media (max-height: 500px) {
    .card td, .card-header {
        padding-top: 0.2rem !important;
        padding-bottom: 0.2rem !important;
    }

    .table {
        margin-bottom: 0px;
    }

    .navbar * {
        padding-top: 0;
        padding-bottom: 0;
    }

    .navbar {
        padding-top: 0.2rem;
        padding-bottom: 0.2rem;
    }

    #contentContainer {
        padding-top: 0.2rem;
    }
}

.movement-controls {
    /* Default button font doesn't work well for arrows */
    font-family: Arial, sans-serif;
    display: table;
    width: auto;
    text-align: center;
}

.movement-controls .d-table-row > input {
    @extend .btn;
    @include button-variant($primary, $primary);
    display: table-cell;
    margin: 1px;
    font-size: inherit;
}

.game-column pre, .game-legend .generic-entity {
    font-family: 'game-font', monospace;
}
